header {
  background-color: #f72210;
}

ul {
  list-style: none !important;
  font-size: 14px !important;
  color: #666 !important;
  padding-inline-start: 0 !important;
}

.main-stories {
  max-width: 1280px;
}

.article-text {
  font-size: 0.857rem !important;
}

.logo-big {
  width: 410px;
  margin-left: 12%;
}

.logo-big svg {
  fill: white;
}

.logo {
  width: 150px;
}

.logo svg {
  width: 100%;
  fill: white;
}

.text-red {
  color: #f72210;
}

.hamburger-icon {
  font-size: 25px;
}

.second-nav-list li {
  font-size: 19px;
  line-height: 24px;
  flex-grow: 1;
}

.search-nav-icon {
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg)
    center/contain no-repeat white;
  width: 20px;
  height: 20px;
  clip: auto;
  font-size: 0;
}

.opinion-articles {
  font-size: 0.88rem !important;
}

.opinion-author {
  position: relative;
  top: 20%;
}

.opinion-headshot {
  height: 63px;
  width: 63px;
  position: relative;
  left: 0.49rem;
  bottom: 0.8rem !important;
}

.debate-border-red {
  border-top: 4px solid #f92859;
}

.debate-border-blue {
  border-top: 4px solid #1c87fb;
}

.double-border {
  border-bottom: double rgba(102, 102, 102, 0.322);
}

.debate-thumb {
  width: 95px;
  height: 95px;
}

.debate-headshot {
  height: 63px;
  width: 63px;
  position: relative;
  top: -1.45rem;
}

.circle-vs {
  height: 40px;
  width: 40px;
  margin: 14px auto 18px;
  border-radius: 50%;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  background-color: #000;
}

.newsletter-box {
  margin: 0 auto 30px;
  background-color: #e2d2cd;
  padding: 20px;
}

.logo-icon-first {
  width: 50px;
  height: 35px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}

.logo-icon {
  width: 28px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}

.signup-button {
  background-color: #666;
  color: white;
  padding: 10px;
  max-height: 100%;
}

.second-section-container {
  max-width: 1280px;
}

.inthemagazine-date {
  bottom: 0px;
  left: 0px;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
}

.inthemagazine-img {
  object-fit: cover;
  margin-top: 17.5px;
  height: 90%;
}

.inthemagazine-link {
  line-height: 20px;
  font-size: 20px;
}

.third-section-container {
  max-width: 1280px;
  margin-top: 15vh;
}

.editorspicks-article-footer {
  font-size: 12.5px;
  color: #333;
}

.varied-news-aside-img img {
  width: 95px;
  height: 95px;
  object-fit: cover;
}

.varied-news-aside-header {
  font-size: 17px !important;
  line-height: 21px !important;
}

.background-card {
  background-color: #e2d2cd;
  margin: 0 auto;
}

.subscribe-img {
  height: 240px;
  max-width: 259px;
}

.subscribe-img img:first-child {
  top: 0;
  left: 0;
}

.subscribe-img img:last-child {
  right: 0;
  z-index: 2;
  bottom: 0;
}

.subscribe-bottom-header {
  font-size: 20px;
}

.subscribe-bottom-text {
  font-size: 15px;
}

.subscribe-bottom-button {
  background-color: #f72210;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
}

.newsletter-bottom-image {
  height: 289px;
  object-fit: cover;
}

.newsletter-bottom-image-container {
  height: 100%;
}

.logo-footer {
  width: 236px;
}

.footer-border {
  border-bottom: 1px solid #d9d9d9;
}

.copyright {
  font-size: 13px;
}

.footer-icons-container {
  font-size: 28px;
  line-height: 24px;
}

.fab {
  font-weight: 400;
}

.fifth-section-container {
  font-size: 12.5px;
  max-width: 1280px;
}
